/* Black Theme Coding */
:root {
  --primary-color: rgb(230, 255, 253);
  --secondary-color: #1c1b1b;
}

.dark-theme {
  --primary-color: #463535;
  --secondary-color: #ffffff;
}

body {
  height: 100vh;
  background-color: var(--primary-color);
  cursor: pointer;
}

/* Navigation Bar */
#logo-container {
  position: relative;
  width: 340px;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 10px;
}

.nav-column {
  font-weight: bolder;
  gap: 20px;
  padding-left: 30px;
}

#icon {
  width: 40px;
  margin-right: 40px;
}

#text {
  font-family: 'Arial', sans-serif;
  font-size: 23px;
  padding-left: 10px;
  color: var(--secondary-color);
  font-weight: 800;
  opacity: 1;
  animation: jumpyAnimation 1s infinite;
}

@keyframes jumpyAnimation {

  0%,
  20%,
  50%,
  80%,
  100% {
    transform: translateY(0) scaleX(1.1);
  }

  40% {
    transform: translateY(-5px) scaleX(0.9);
  }

  60% {
    transform: translateY(-10px) scaleX(1);
  }
}

.svgs {
  display: flex;
}

.svgs img {
  height: 50px;
}

/* Welcome Message */
@import url('https://fonts.googleapis.com/css2?family=Alfa+Slab+One&display=swap');

.waviy {
  margin-top: 50px;
  margin-bottom: 80px;
  width: 100%;
  position: relative;
  -webkit-box-reflect: below 15px linear-gradient(transparent, var(--secondary-color));
  font-size: 40px;
  text-align: center;
}

.waviy span {
  text-align: center;
  font-weight: bolder;
  display: inline-block;
  color: var(--secondary-color);
  text-transform: uppercase;
  animation: waviy 1.5s infinite;
  animation-delay: calc(.1s * var(--i));
}

@keyframes waviy {

  0%,
  40%,
  100% {
    transform: translateY(0)
  }

  20% {
    transform: translateY(-25px)
  }
}

/* Content */
.name {
  font-size: 30px;
  color: var(--secondary-color);
  font-weight: 600;
}

.myimage {
  width: 500px;
  height: 300px;
}

.form-control {
  border: 2px solid;
  box-shadow: 0px 0px 10px 0px var(--secondary-color);
}

/* Footer */
#footer {
  border-radius: 10px;
  border: 3px solid black;
  box-shadow: var(--secondary-color) 0px 0px 10px 0px;
  background: var(--primary-color);
  padding: 0 0 30px 0;
  color: var(--secondary-color);
  font-size: 18px;
  font-weight: 600;
  text-align: start;
}

#footer .footer-newsletter {
  border-radius: 30px;
  padding: 50px 0;
  background: var(--primary-color);
}

#footer .footer-newsletter h4 {
  font-size: 24px;
  margin: 0 0 20px 0;
  padding: 0;
  line-height: 1;
  font-weight: 600;
}

#footer .footer-newsletter form {
  margin-top: 30px;
  border: 3px solid var(--primary-color);
  background: white;
  padding: 6px 10px;
  position: relative;
  border-radius: 50px
}

#footer .footer-newsletter form input[type="email"] {
  border: 0px;
  padding: 8px;
  width: calc(100% - 140px)
}

#footer .footer-newsletter form input[type="submit"] {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  border: 3px solid var(--secondary-color);
  background: none;
  box-shadow: 0px 0px 10px 0px;
  font-weight: 600;
  font-size: 20px;
  padding: 0 30px;
  margin: 3px;
  background: rgba(53, 103, 232, 0.411);
  color: black;
  transition: 0.3s;
  border-radius: 50px
}

#footer .footer-newsletter form input[type="submit"]:hover {
  background: white;
}

#footer .footer-top {
  background: var(--primary-color);
  border-top: 2px solid var(--secondary-color);
  border-bottom: 2px solid var(--secondary-color);
  box-shadow: var(--secondary-color) 0px 0px 5px 0px;
  padding: 60px 0 30px 0
}

#footer .footer-top .footer-info {
  margin-bottom: 30px
}

#footer .footer-top .footer-info h3 {
  font-size: 25px;
  margin: 0 0 20px 0;
  padding: 2px 0 2px 0;
  line-height: 1;
  font-weight: 900
}

#footer .footer-top .footer-info p {
  font-size: 16px;
  font-weight: 600;
  line-height: 24px;
  margin-bottom: 0;
  font-family: "Raleway", sans-serif;
  color: var(--secondary-color);
}

#footer .footer-top .social-links a {
  font-size: 22px;
  display: inline-block;
  background: var(--secondary-color);
  color: var(--primary-color);
  line-height: 1;
  padding: 8px 0;
  margin-right: 4px;
  border-radius: 50%;
  text-align: center;
  width: 36px;
  height: 36px;
  transition: 0.3s
}

#footer .footer-top .social-links a:hover {
  background: rgb(255, 27, 27);
  color: var(--secondary-color);
  text-decoration: none
}

#footer .footer-top h4 {
  font-size: 25px;
  font-weight: 900;
  color: var(--secondary-color);
  text-transform: uppercase;
  position: relative;
  padding-bottom: 12px
}

#footer .footer-top .footer-links {
  margin-bottom: 30px
}

#footer .footer-top .footer-links ul {
  list-style: none;
  padding: 0;
  margin: 0
}

#footer .footer-top .footer-links ul i {
  padding-right: 2px;
  color: var(--secondary-color);
  font-size: 18px;
  line-height: 1
}

#footer .footer-top .footer-links ul li {
  padding: 10px 0;
  display: flex;
  align-items: center
}

#footer .footer-top .footer-links ul li:first-child {
  padding-top: 0
}

#footer .footer-top .footer-links ul a {
  color: var(--secondary-color);
  transition: 0.3s;
  display: inline-block;
  line-height: 1
}

#footer .footer-top .footer-links ul a:hover {
  color: blue;
}

#footer .footer-top .footer-contact {
  margin-bottom: 30px
}

#footer .footer-top .footer-contact p {
  line-height: 26px
}

#footer .copyright {
  text-align: center;
  padding-top: 30px
}

#footer .credits {
  padding-top: 10px;
  text-align: center;
  font-size: 18px;
  font-weight: 700;
  color: var(--secondary-color);
}